/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #141E30, #243B55);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styles */
header.navbar {
    background-color: #007bff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    flex: 1;
    text-align: center;
}

.hamburger {
    display: none;
    padding: 0;
    border: none;
    background: none;
}

.nav-links {
    display: flex;
    flex: 1;
    justify-content: center;
}

.nav-links .button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.nav-links .button:hover {
    background-color: #218838;
}

/* Main Styles for Forms and Content */
main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-height: 80vh; /* Ajuste para tornar a tela maior */
    flex: 1;
}

main h1 {
    text-align: center;
    margin-bottom: 20px;
}

main .form-group {
    margin-bottom: 15px;
}

main .form-group label {
    display: block;
    margin-bottom: 5px;
}

main .form-group input[type="text"],
main .form-group input[type="email"],
main .form-group input[type="password"],
main .form-group textarea {
    width: calc(100% - 3px); /* Reduzir a largura para acomodar o padding */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    margin-bottom: 10px; /* Adicionar margem inferior para espaçamento entre os inputs */
    box-sizing: border-box; /* Garantir que o padding não aumente o tamanho total do input */
}

main .form-group textarea {
    resize: vertical;
    min-height: 150px; 
}

main .form-group input[type="text"],
main .form-group textarea {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/* Ajuste radio buttons */
main .form-group label input[type="radio"] {
    margin-right: 10px;
    vertical-align: middle;
}

main .form-group label.radio-label {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

main .button-group {
    text-align: center;
}

main .button-group button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

main .button-group button:hover {
    background-color: #0056b3;
}

main .register-link {
    text-align: center;
    margin-top: 10px;
}

main .register-link a {
    color: #007bff;
    text-decoration: none;
}

main .register-link a:hover {
    text-decoration: underline;
}

/* Radio Buttons */
.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="radio"] {
    margin-right: 10px;
    vertical-align: middle;
}

/* Main Styles for Portal */
.portal-main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-group {
    display: flex;
    gap: 20px;
}

.button-group .button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;    
    text-align: center;
    height: 80px;
}

.button-group .button:hover {
    background-color: #0056b3;
}

/* Estilo main para o Portal */
.gerenciar-main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #444;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto; /* Adicionado para tornar a tabela responsiva */
}

.user-table th, .user-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    background-color: #555;
    white-space: nowrap; /* Adicionado para tornar a tabela responsiva */
}

.user-table th {
    background-color: #007bff;
    color: #fff;
}

.user-table tbody tr:nth-child(even) {
    background-color: #666;
}

.action-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #0056b3;
}

.action-button.delete {
    background-color: #dc3545;
}

.action-button.delete:hover {
    background-color: #c82333;
}

/* Formulário de edição de usuário */
.form-container {
    max-width: 600px;
    width: 100%; /* Para garantir que ocupe toda a largura disponível */
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-container input[type="text"],
.form-container input[type="tel"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.form-container textarea {
    resize: vertical;
}

.form-container input[type="text"]:focus,
.form-container input[type="tel"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="password"]:focus,
.form-container textarea:focus {
    border-color: #3498db;
}

.form-container .radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.form-container input[type="radio"] {
    margin-right: 5px;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container input[type="submit"]:hover {
    background-color: #4cae4c;
}

/* Lista de Notícias */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #444;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

ul li h2 {
    margin: 0 0 10px;
    color: #fff;
    word-wrap: break-word;
    line-break: auto;
}

ul li p {
    margin: 0 0 10px;
    color: #ddd;
    word-wrap: break-word;
    line-break: auto;
}

ul li a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

ul li a:hover {
    text-decoration: underline;
}

ul li .actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

ul li .actions a {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

ul li .actions a.edit {
    background-color: #28a745;
    color: #fff;
}

ul li .actions a.edit:hover {
    background-color: #218838;
}

ul li .actions a.delete {
    background-color: #dc3545;
    color: #fff;
}

ul li .actions a.delete:hover {
    background-color: #c82333;
}

.search-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-form .form-group {
    margin-bottom: 15px;
}

.search-form .form-group .radio-label {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    color: black;
}

.search-form .form-group .search-input {
    width: calc(100% - 20px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.search-form .form-group label {
    display: block;
    margin-bottom: 5px;
}

.search-form .button-group {
    text-align: center;
}

.search-form .button-group .search-button {
    width: 100%;
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-form .button-group .search-button:hover {
    background-color: #0056b3;
}



/* Estilo para o footer */
.site-footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.site-footer p {
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilo para notícias em colunas */
.news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

.news-item {
    background-color: #444;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    flex: 1 1 calc(33.333% - 20px); /* Três colunas */
    box-sizing: border-box;
    max-width: 100%;
}

.news-item h2 {
    margin-top: 0;
    word-wrap: break-word;
    line-break: auto;
}

.news-item p {
    margin-bottom: 0;
    word-wrap: break-word;
    line-break: auto;
}

/* Estilo para paginação */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #0056b3;
}

.pagination a.active {
    background-color: #0056b3;
}


/* Estilos Responsivos */
@media (max-width: 768px) {
    .search-form {
        width: 90%;
    }

    .search-form .form-group label.search-label {
        margin-right: 10px;
    }

    .search-form .button-group button.search-button {
        padding: 10px 15px;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #007bff;
    }

    .nav-links .button {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    header.navbar {
        flex-direction: column;
        text-align: center;
    }

    .portal-main, main {
        width: 90%;
    }

    .user-table th, .user-table td {
        white-space: normal; /* Permitir que o texto seja quebrado em várias linhas */
    }

    .user-table th, .user-table td {
        padding: 5px; /* Reduzir o padding para economizar espaço */
    }

    .user-table th {
        font-size: 14px; /* Reduzir o tamanho da fonte */
    }

    .user-table td {
        font-size: 12px; /* Reduzir o tamanho da fonte */
    }

    .action-button {
        padding: 3px 8px; /* Reduzir o padding dos botões */
        font-size: 12px; /* Reduzir o tamanho da fonte dos botões */
        margin-right: 8px; /* Aumentar a margem entre os botões */
    }

    .user-table .action-button {
        display: inline-block; /* Manter os botões na mesma linha */
        margin-bottom: 5px; /* Adicionar um espaço abaixo de cada linha */
    }

    .site-footer {
        padding: 15px 0;
    }

}
